<h1>List Products</h1>

<div class="btn btn-primary">
	<%= link_to 'Home Page', "/", style: 'color:#FFFFFF;' %> 
</div>
<div class="btn btn-primary">
	<%= link_to 'Create Product', "/product/new", style: 'color:#FFFFFF;' %> 
</div>