<h1>Create New Product</h1>


<div class="btn btn-primary">
	<%= link_to 'Home Page', "/", style: 'color:#FFFFFF;' %> 
</div>
<div class="btn btn-primary">
	<%= link_to 'List Products', "/product/list", style: 'color:#FFFFFF;' %> 
</div>